* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: aliceblue;
  font-family: 'Lucida Sans';
}

body {
  background-color: cadetblue;
  header {
    display: flex;
    nav {
      margin: 20px 0px 20px 40px;
      a {
        padding: 20px;
      }
    }
  }
}

main {
  .container {
    border: solid 2px rgb(27, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    .pastEvents {
      text-decoration: line-through;
      color: rgb(94, 93, 93);
    }
    #inputField {
      margin: 1.5rem;
      fieldset {
        padding: 1rem;
      }
    }
  }
}
