@import url(global.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* body header nav {
  margin: 20px 0px 20px 40px;
}

body header nav a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

body header nav a:hover {
  color: rgb(107, 112, 248);
} */


main .container {
  background: var(--background-dark);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 2rem;

}

main .container h2 {
  margin-top: 1rem;
}

main .container .pastEvents {
  text-decoration: line-through;
  color: rgb(94, 93, 93);
}

main .container #inputField {
  margin: 1.5rem;
}

main .container #inputField fieldset {
  padding: 1rem;
}