* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5966af;
  --secondary-color: #2c3e50;
  --accent-color: #4c5fc9;
  --background-light: #f4f4f4;
  --background-dark: #e0e5ec;
}

#modalsContainer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

button {
  cursor: pointer; /* Make buttons clickable */
}

#emptyInputsModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

#emptyInputsModal .modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  box-sizing: border-box;
}

#emptyInputsModal button {
  cursor: pointer;
}

#nav {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 24px;
}

#habitsContainer {
  width: 600px;
  margin: 0 auto;
  padding: 24px;
  background-color: #e0e5ec;
}
#habitsContainer #inputDiv {
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
}
#habitsContainer #dataTableDiv {
  display: flex;
  justify-content: baseline;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
}
#habitsContainer #dataTableDiv .table-striped {
  width: 550px;
}
#habitsContainer #dataTableDiv .bg-info th {
  background-color: #5966af;
  color: #fff;
}
#habitsContainer #radioBtns {
  background-color: #5966af;
  color: #fff;
  font-weight: bold;
  padding: 1px;
  width: 550px;
  display: flex;
  justify-content: start;
  gap: 8px;
}
#habitsContainer #radioBtns p, #habitsContainer #radioBtns label, #habitsContainer #radioBtns input {
  margin: 0;
}